-
    var works = [
    {
    name: '#js13k 2018',
    color: '#333',
    year: '2018',
    type: 'game',
    summary: 'Submission for the JS13k 2018 game jam competition.',
    fulltext: 'Submission for the JS13k 2018 game jam competition.\nA typing/horror game built with VanillaJS in order to fit under the competition\'s 13kb limit.\nThe game uses the Pointer Lock API and Web Audio API, as well as using Emojis as icons.',
    link: [
    {
    title: 'Github',
    url: 'https://github.com/bersLucas/js13k-2018'
    },
    {
    title: 'Submission',
    url: 'https://js13kgames.com/entries/when-my-vpn-goes-offline-it-allows-all-kinds-of-people-to-snoop-on-my-computer-such-as-demons'
    },
    {
    title: 'Blog',
    url: 'https://js13k.lucasbersier.com/'
    }
    ]
    },
    {
    name: 'howmuchis',
    color: '#f4ae53',
    year: '2018',
    type: 'WebDev',
    summary: 'A cryptocurrency calculator.',
    fulltext: 'A cryptocurrency calculator that is able to calculate multiple currencies at once. \nBuild on vueJS and uses Coinmarketcap\'s API',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/howmuchis'
    }]
    },
    {
    name: 'KAILI',
    color: '#fea4cd',
    year: '2018',
    type: 'Music',
    summary: 'Vaporwave/Drone tracks based on the film Kaili Blues (2015).',
    fulltext: 'Two vaporwave tracks with spoken word sampled from the film Kaili Blues (2015), by Gan Bi',
    link: [{
    title: 'Bandcamp',
    url: 'https://aiend.bandcamp.com/album/kaili'
    }]
    },
    {
    name: 'FollowCursor',
    color: '#4b9dad',
    year: '2016',
    type: 'Javascript',
    image: 'follow.png',
    summary: "Rotate elements to create a 'following' effect",
    fulltext: 'A Javascript function to cause elements to rotate when hovered on.\nThis is made possible with 3D CSS Transformations and javascript.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/FollowCursor'
    }]
    }, {
    name: 'HI6MA',
    color: '#b09f30',
    year: '2016',
    type: 'WebDev',
    image: 'hi6ma.png',
    summary: 'A manga reader web-app built with vue.js.',
    fulltext: 'A manga reader and the successor to MSlide.\nBuilt with vue.js and is serverless.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/HI6MA'
    }, {
    title: 'Live demo',
    url: 'http://m3ow.moe'
    }]
    }, {
    name: 'Kanpeki',
    color: '#857ae6',
    year: '2016',
    type: 'WebDev',
    image: 'kanpeki.jpg',
    summary: 'A self-destructing anonymous message board',
    fulltext: "Kanpeki is a PHP-based anonymous message board set to clear all messages every 3 hours.\nIt used Skeleton.css as it's CSS broilerplate,\nwith all backend database configurations are handled with MySql."
    }, {
    name: 'scrollToClip',
    color: '#757575',
    year: '2016',
    type: 'Javascript',
    image: 'scrollToClip.png',
    summary: 'Image clipping based on scroll wheel.',
    fulltext: 'A Javascript function used to manipulate clip-path() dynamically via the scroll wheel.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/scrollToClip'
    }]
    }, {
    name: 'bPresent',
    color: '#bf4f4d',
    year: '2016',
    type: 'WebDev',
    image: 'bPresent.png',
    summary: 'A jQuery slide-show framework and editor.',
    fulltext: 'A web-based slide-show framework written in javascript and jQuery.\nBy having all styling and rendering done by the browser, presentations can be shared in small, single, and non-proprietary files.',
    link: [{
    title: 'More info',
    url: 'http://lucasbersier.com/bPresent'
    }]
    }, {
    name: 'MSlide',
    color: '#757575',
    year: '2014-2016',
    type: 'WebDev',
    image: 'mslide.png',
    summary: 'A jQuery database-free manga reader.',
    fulltext: 'An image viewer for comics and manga built with javascript and jQuery that loads images and chapter information from the folder structure of a server without relying on a database.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/MSlide'
    }]
    }, {
    name: 'ClassScheduler',
    color: '#55606e',
    year: '2016',
    type: 'WebDev',
    image: 'classscheduler.png',
    summary: 'An academic scheduling app.',
    fulltext: 'A web-app that allows students to search for classes and plan out a schedule on a single page.\nThis project was created for students at DeSales University and the demo currently uses the Fall 2016 schedule.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/ClassScheduler'
    }, {
    title: 'Live demo',
    url: 'http://lucasbersier.com/ClassScheduler/'
    }]
    }, {
    name: 'Yeast Simulation',
    color: '#008180',
    year: '2016',
    type: 'WebDev',
    image: 'yeastcell.png',
    summary: 'An interactive webpage used to replace a yeast cell laboratory experiment.',
    fulltext: 'A single-page application used to simulate the science lab experience of testing the growth of yeast cells.\nThis application was created to be used by students at DeSales University and other universities that were unable to attend a laboratory.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/Yeast-Cell-Biology-Simulation'
    }, {
    title: 'Live demo',
    url: 'http://lucasbersier.com/SeniorSem/'
    }]
    }, {
    name: 'Sleep Cycle EP',
    color: '#496c75',
    year: '2016',
    type: 'Music',
    image: 'sleep-cycle.jpg',
    summary: 'Drone, Noise, Minimal IDM',
    fulltext: 'Drone, Noise, Minimal IDM',
    link: [{
    title: 'Bandcamp',
    url: 'http://aiend.bandcamp.com/album/sleep-cycle-ep'
    }]
    }, {
    name: 'DSUACM Logo',
    color: '#dc182c',
    year: '2016',
    type: 'Design',
    image: 'DSUACM.png',
    summary: 'A logo for the DSUACM',
    fulltext: 'The current logo for the DeSales University Association for Computing Machinery.\nDesigned and entered as part of the 2016 logo design contest.',
    link: [{
    title: 'Reference',
    url: 'http://lucasbersier.com/DSUACM/'
    }]
    }, {
    name: 'STAY_WARM',
    color: '#b35c00',
    year: '2015',
    type: 'Game',
    image: 'staywarm.png',
    fulltext: 'A browser game created for the DeSales University 2015 Video game jam.\nMusic composition made in Bitwig, game written in jQuery.',
    summary: 'A browser game created for the 2015 DSU Game Jam',
    link: [{
    title: 'Play',
    url: 'http://lucasbersier.com/STAY_WARM'
    }]
    }, {
    name: 'The Black Lodge EP',
    color: '#836a94',
    year: '2015',
    type: 'Music',
    image: 'theblacklodge.jpg',
    fulltext: 'A dark ambient and drone project based on audio samples from the 1991 television program, Twin Peaks',
    summary: 'Dark ambient EP based on Twin Peaks',
    link: [{
    title: 'Bandcamp',
    url: 'http://aiend.bandcamp.com/album/the-black-lodge-ep'
    }]
    }, {
    name: 'ʕ•́ᴥ•̀ʔ',
    color: '#5fa382',
    year: '2015',
    type: 'Game',
    image: 'beargame.png',
    fulltext: 'A game concept written in Javascript.\nWhile the game is currently unbeatable, this shows and example of layering images and html elements to create animations and effects.',
    summary: 'A puzzle game concept and Android app.',
    link: [{
    title: 'Browser',
    url: 'http://lucasbersier.com/bear/'
    }, {
    title: 'Google Play',
    url: 'https://play.google.com/store/apps/details?id=lucasbersier.bear.com&hl=en'
    }]
    }, {
    name: 'MinCal Zooper skin',
    year: '2015',
    type: 'Design',
    color: '#036269',
    image: 'mincal.png',
    fulltext: 'A minimal and transparent calendar widget skin for Zooper on Android.\nRequires the Zooper app',
    summary: 'A minimal calendar widget skin.',
    link: [{
    title: 'Google Play',
    url: 'https://play.google.com/store/apps/details?id=com.lucasbersier.zwskin.mincal&hl=en'
    }]
    }, {
    name: 'Choconeko',
    year: '2014 - 2015',
    type: 'Game',
    color: '#876f53',
    image: 'choconeko.png',
    fulltext: 'A fast-paced boss-rush action brawler game.\nThis was in development from July 2014 to Feburary 2015, and was built using the Love2d framework and Lua.',
    summary: 'An action brawler game written in Love2D.',
    link: []
    }, {
    name: 'Nuisance',
    year: '2014',
    color: '#8c6f73',
    type: 'Music',
    image: 'nuisance.jpg',
    fulltext: 'Dark ambient, Noise, Drone',
    summary: 'Dark ambient, Noise, Drone',
    link: [{
    title: 'Bandcamp',
    url: 'http://aiend.bandcamp.com/album/nuisance'
    }]
    }, {
    name: 'Compress EP',
    year: '2014',
    color: '#6e6e6e',
    type: 'Music',
    image: 'compress.jpg',
    fulltext: 'Dark ambient, Noise',
    summary: 'Dark ambient, Noise',
    link: [{
    title: 'Bandcamp',
    url: 'http://aiend.bandcamp.com/album/compress-ep'
    }]
    }, {
    name: 'JSRadial',
    year: '2014',
    color: '#aa549a',
    type: 'Javascript',
    image: 'jsradial.jpg',
    fulltext: 'A JQuery plugin that uses SVG elements to draw a radial progressbar.\nUsing SVG elements cuts back on filesize and enables the progressbar to be animated and styled through Javascript functions.',
    summary: 'A radial progressbar plugin for jQuery.',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/JSRadial'
    }, {
    url: 'http://lucasbersier.com/JSRadial/',
    title: 'Documentation'
    }]
    }, {
    name: 'Afraid and Uncertain',
    year: '2014',
    color: '#b45b45',
    type: 'Music',
    image: 'afraid.jpg',
    fulltext: 'Expertimental Electronic, Ambient Techno',
    summary: 'Expertimental Electronic, Ambient Techno',
    link: [{
    title: 'Bandcamp',
    url: 'http://aiend.bandcamp.com/album/afraid-and-uncertain'
    }]
    }, {
    name: '●○●',
    year: '2013',
    color: '#008900',
    type: 'Game',
    image: 'dots.jpg',
    fulltext: 'An android and mobile web game built with jQuery and Javascript for the Lehigh University 2013 game jam.\nAll elements are made with css and all effects are done with DOM manipulation.',
    summary: 'A puzzle game written in jQuery.',
    link: [{
    title: 'Browser',
    url: 'http://lucasbersier.com/untitled1apk'
    }, {
    title: 'Google Play',
    url: 'https://play.google.com/store/apps/details?id=com.lucasbersier.untitled1.apk'
    }]
    }, {
    name: 'Minimal Firefox',
    year: '2013 - 2016',
    color: '#737373',
    type: 'Design',
    image: 'firefox.jpg',
    fulltext: 'An alternative stylesheet for Firefox that gives the UI a more compact interface',
    summary: 'An alternate stylesheet for Firefox',
    link: [{
    title: 'Github',
    url: 'https://github.com/bersLucas/Minimal-Firefox'
    }, {
    title: 'Userstyles.org',
    url: 'https://userstyles.org/styles/100138/minimal-firefox'
    }]
    }, {
    name: 'SlimmerReddit',
    year: '2013',
    color: '#5b61f2',
    type: 'Design',
    image: 'reddit.png',
    fulltext: 'A userstyle for the link-sharing website, Reddit.com.\nThis userstyle provides a more aesthetic webpage while also decreasing the amount of unessisary items on the page at a time.',
    summary: 'A userstyle for reddit.com',
    link: [{
    title: 'Userstyles.org',
    url: 'https://userstyles.org/styles/84623/slimmerreddit'
    }]
    }, {
    name: 'MangoReader',
    year: '2013',
    color: '#f09831',
    type: 'Design',
    image: 'Mango.jpg',
    fulltext: 'A web reader for manga and comics.\nMangareader supports mobile and desktop viewing while also having a small ui so that the user can use most of their screen for viewing.',
    summary: 'Design and CSS for a manga reader'
    }
    ]
-

mixin work(work)
    if work.link
        div.work(style='background-color:' + work.color)
            b.title #{work.name}
                span.metadata #{work.year}
            div.summary #{work.fulltext}
            div.links
                each link in work.link
                    a(href=link.url
                      style='color:' + work.color
                      rel="noopener"
                      target="_blank") #{link.title}
    else
        div.work
            b.title #{work.name}
                span.metadata #{work.year}
            div.summary #{work.summary}

each work in works
    +work(work)
